footer {
  background-color: #040404;
  color: #f6f6f6;
  padding: 20px;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-links a {
  margin: 0 10px;
  color: #f6f6f6;
  text-decoration: none;
}
